.canvas-container {
    display: inline-flex;
    position: relative;
}

.arrow {
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
    right: 0;
}

.arrow-left {
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid rgb(0, 0, 0);
}